* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.container {
    background-color: #f8f4f4;
    padding-top: 12px;
    position: relative;
    transition: opacity 3s ease;

}




.card1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 33px;
}

.card1-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btnView {
    background: #222;
    color: white;
    display: flex;
    text-decoration: none;
    width: 129px;
    border-radius: 2px;
    padding: 8px 12px;
    font-size: 14px;
    transition: all 0.4s ease;
}

.btnView:hover {
    transform: scale(1.1);
}


.card1-title {
    font-size: 52px;
}

.card1-description {
    font-size: 16px;
}

.content {
    background-color: white;
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 12px 55px 12px 55px; */
    height: 380px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 15px -7px #000000;
    box-shadow: 0px 3px 15px -7px #000000;
    margin-bottom: 12px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(122, 36, 36, 1) 100%, rgba(0, 212, 255, 1) 100%);
}

.left-content {
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px 22px;
}

.right-content {
    flex: 2;
    height: 100%;
    padding-top: 22px;
    color: white;
    display: flex;
    align-items: center;

}

.top-content {
    display: flex;
    flex: 1;
}

.left-top-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
    margin-right: 12px;
}

.right-top-content {
    flex: 1;

}

.right-topContent-img {
    width: 200px;
    height: 234px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 3px;
}


.one-top-img {
    width: 237px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
    overflow: hidden;
}

.one-bottom-img {
    width: 237px;
    height: 135px;
    border-radius: 5px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 12px;
}

.one-two {
    flex: 1;
}

.one-two-img {
    width: 180px;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
    overflow: hidden;
}


.bottom-content {
    flex: 0.5;
    padding-left: 135px;
}


.bottom-content-img {
    width: 450px;
    height: 98px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 3px;
}

.card1-img {
    width: 150px;
    height: 130px;
    object-fit: cover;
    border-radius: 3px;
    overflow: hidden;
}


.child-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.card2 {
    width: 350px;
    background-color: #fcfcfc;
    border-radius: 3px;
    padding: 12px 22px;
    height: 350px;
    -webkit-box-shadow: 0px 3px 7px -7px #000000;
    box-shadow: 0px 3px 7px -7px #000000;
}

.card2-pre {
    width: 350px;
    background-color: #fcfcfc;
    border-radius: 3px;
    padding: 12px 22px;
    height: 350px;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 3px 7px -7px #000000;
    box-shadow: 0px 3px 7px -7px #000000;
}

.top-pre {
    flex: 1;
    border-bottom: 0.5px solid #999;
    position: relative;
}

.bottom-pre {
    flex: 2;
    padding: 12px 0px;
}

.reservation-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 8px;
}

.reservation-card-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
    height: 100%;
}

.card-holder {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    gap: 19px;
}


input {
    padding: 7px;
    outline: none;
    border-radius: 2px;
    border: 1px solid #999;
}

.btn {
    background-color: #222;
    color: white;
    width: 100px;
    border-radius: 3px;
    border: none;
    outline: none;
    padding: 8px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.btn:hover {
    transform: scale(1.1);
}


label {
    font-size: 14px;
    color: #222;
}

.aboutus {
    font-size: 24px;
}

.restaurant-name {
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 5px;
}

.hr {
    background-color: #e7e3e3;
    margin-top: 3px;
    height: 1px;
    width: 70%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.reservation-card-titleRe {
    font-size: 20px;
}


.top-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 3px;
    overflow: hidden;
    border-radius: 50%;
}

.card-back {
    background-image: url("https://images.pexels.com/photos/3127880/pexels-photo-3127880.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #222;
}




/* categories __________>>>>>>>>>>>>>>> */

.categoryContainer {
    width: 100%;
    /* height: 90vh; */
    /* background-color: lightblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 12px;
    margin-bottom: 22px;
    /* position: relative; */
}

.modal-category1 {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-category2 {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-category3 {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-category4 {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-category-active1 {
    display: none;
}

.modal-category-active2 {
    display: none;
}

.modal-category-active3 {
    display: none;
}

.modal-category-active4 {
    display: none;
}

.card-cat.caty {
    width: 600px;
    height: 500px;
}

.cat-img.caty-img {
    width: 100px;
    height: 100px;
    bottom: -42px;
    left: 22px;
}

.cat-subHeading.caty-sub {
    font-size: 18px;
    margin-top: 12px;
}

.cat-heading.caty-head {
    font-size: 28px;
}

.cat-desc.caty-desc {
    font-size: 16px;
}

.caty-order {
    padding: 10px 12px;
    background-color: #222;
    color: white;
    font-size: 14px;
    margin-top: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    width: 130px;
    cursor: pointer;
}


.holder-category {
    width: 1300px;
    /* height: 40vh; */
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}

.holder-book {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-cat {
    border-radius: 5px;
    width: 230px;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 3px 7px -7px #000000;
    box-shadow: 0px 3px 7px -7px #000000;
    cursor: pointer;
    object-fit: cover;
}

.top-cat {
    flex: 0.8;
    border-bottom: 0.5px solid #999999b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
    position: relative;
}


.cat-img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 3px;
    overflow: hidden;
    border-radius: 50%;
    border-color: #e9e1e117;
    position: absolute;
    bottom: -25px;
}

.right-cat {
    padding-right: 32px;
    color: #999999b4;
    font-size: 14.5px;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    padding-bottom: 12px;
}


.bottom-cat {
    flex: 2;
    padding-top: 42px;
    padding-left: 22px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cat-subHeading {
    color: #999999b4;
}

.cat-heading {
    font-size: 22px;
    color: #111;
    font-weight: 500;
}

.cat-desc {
    color: #999999b4;
    font-size: 14px;
    padding-right: 2px;
    width: 90%;
}


/* ______________>>>>>>>>>>>>> Footer */


.footer {
    width: 100%;
    height: 65vh;
    display: flex;
    margin-top: 22px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(122, 36, 36, 1) 100%, rgba(0, 212, 255, 1) 100%);
    color: rgb(232, 225, 225);
}

.left-footer {
    flex: 3;
    padding-left: 65px;
}

.right-footer {
    flex: 2;
    padding: 32px 0px 12px 0px;
    display: flex;
    /* justify-content: center; */
    gap: 28px;
    align-items: center;
    flex-direction: column;

}

.footer-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;

}


.child {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-left: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-size: 18px;

}

h5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 28px;
}




/* ______________>>>>>>>>>>>>> Modal  */


.modal {
    width: 100%;
    height: 100vh;
    background-color: lightblue;
    z-index: 999;
    position: absolute;
    background-color: rgba(0, 0, 0, .5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 3s ease;
}


.modal-active {
    display: none;
    transition: all 5s ease;
}


.box {
    background-color: white;
    width: 500px;
    height: 450px;
    border-radius: 5px;
    z-index: 9999;
}

.box-cross {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 22px;
    font-size: 26px;
    padding-top: 8px;
    padding-left: 22px;
}



.cross {
    cursor: pointer;
    transition: all 0.5s ease;
}

.cross:hover {
    transform: translateY(-10px);
    transform: translateX(1px);
    /* font-size: 28px; */
}

.box-hr {
    background-color: #999999df;
    margin-top: 12px;
}

.books-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 22px 12px;

}

.book-1 {
    height: 150px;
    display: flex;
}

.left-book {
    flex: 1;
}

.right-book {
    flex: 1;
}

.book-img {
    width: 200px;
    height: 140px;
    object-fit: cover;
    overflow: hidden;
}

.right-book {
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.btn-book {
    padding: 4px 22px;
    background-color: #222;
    border-radius: 3px;
    outline: none;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.4s ease;
}



.btn-book:hover {
    transform: scale(1.1);
    color: #f8f4f4;
}

.cross-cat1 {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 22px;
    margin-bottom: -22px;
    padding-top: 22px;
    font-size: 18px;
}
.cross-cat2 {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 22px;
    margin-bottom: -22px;
    padding-top: 22px;
    font-size: 18px;
}
.cross-cat3 {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 22px;
    margin-bottom: -22px;
    padding-top: 22px;
    font-size: 18px;
}
.cross-cat4 {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-right: 22px;
    margin-bottom: -22px;
    padding-top: 22px;
    font-size: 18px;
}